@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 0.9375em;
}

/* style for the container */
.container {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style for the card */
.card {
    display: flex;
    flex-direction: row-reverse;
}

/* style for the image part */
.img-container {
    position: relative;
    width: 540px;
    height: 450px;
    border-radius: 0 7px 7px 0;
}

@media (min-width: 768px) {
    .img-container #main-img {
        background-image: url('image-header-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.img-container #main-img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

/* .img-container #main-img img {
    max-width: 100%;
    height: inherit;
    border-radius: inherit;
} */

.img-container .mask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
    height: inherit;
    background-color: hsla(277, 64%, 61%, .5);
    border-radius: inherit;
}

/* style for the text area */
.text-area {
    width: 600px;
    height: 450px;
    background-color: hsl(244, 38%, 16%);
    padding: 80px 120px 0 100px;
    border-radius: 7px 0 0 7px;
}

.header {
    margin-bottom: 30px;
    width: 400px;
}

.header h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: hsl(0, 0%, 100%);
    line-height: 1.2;
}

.header h1 span {
    color: hsl(277, 64%, 61%);
}

.main {
    margin-bottom: 70px;
    width: 350px;
}

.main p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
}

.foot {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.desc h2 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}

.desc p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
}

@media (max-width: 767px) {
    .card {
        flex-direction: column;
    }

    .img-container {
        width: 85vw;
        height: 30svh;
        border-radius: 7px 7px 0 0;
    }

    .img-container #main-img {
        background-image: url('image-header-mobile.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .text-area {
        width: 85vw;
        height: 60svh;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .text-area .header {
        width: 300px;
        margin-bottom: 15px;
    }

    .header h1 {
        font-size: 2em;
    }

    .main {
        width: 250px;
        margin-bottom: 10px;
    }

    .foot {
        flex-direction: column;
        justify-content: space-around;
        height: 30svh;
    }
}