@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* style for the container */
.container {
    max-width: 1440px;
    min-height: 100svh;
    margin: 0 auto;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style for the card */
.card {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
}

/* style for the image part */
.img-container {
    max-width: 100%;
    border-radius: .5em .5em 0 0;
    height: 300px;
    background-image: url('image-header-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-container .mask {
    width: inherit;
    height: inherit;
    background-color: hsla(277, 64%, 61%, .5);
    border-radius: inherit;
}

/* style for the text area */
.text-area {
    max-width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: hsl(244, 38%, 16%);
    padding: 1.9em 1.5625em ;
    border-radius: 0 0 .5em .5em;
}

.header {
    margin-bottom: 30px;
    width: 90%;
    padding: 0 1em;
}

.header h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    line-height: 1.2;
}

.header h1 span {
    color: hsl(277, 64%, 61%);
}

.main {
    margin-bottom: 4em;
    width: 90%;
    padding: 0 .5em;
}

.main p {
    font-size: 0.9375rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
}

.foot {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
    justify-content: space-between;
}

.desc h2 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}

.desc p {
    font-size: 0.9375rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
}


@media (min-width: 1000px) {
    .card {
        flex-direction: row-reverse;
        width: 80%;
        max-width: 950px;
        margin: 50px 0;
    }

    .img-container {
        width: 45%;
        height: 450px;
        background-image: url('image-header-desktop.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 0 .5em .5em 0;
    }

    .img-container .mask {
        width: 100%;
        height: inherit;
        background-color: hsla(277, 64%, 61%, .5);
        border-radius: inherit;
    }

    .text-area {
        width: 55%;
        height: 450px;
        padding: 4em 3em;
        display: block;
        text-align: left;
        border-radius: .5em 0 0 .5em;
    }

    .header {
        padding: 0;
        margin-bottom: 2em;
    }

    .header h1 {
        font-size: 2em;
    }

    .main {
        padding: 0 2em 0 0;
        margin-bottom: 5em;
    }

    .foot {
        flex-direction: row;
        justify-content: space-between;
    }
}